<!-- <!DOCTYPE html>
<html ng-app='emuSearch'>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="../../app.js"></script>

    <meta charset="utf-8" />
    <title>emuSearch</title>
  </head>
  <body>
    <h1>emuSearch</h1>
    <form name="filterform" ng-controller="filterController" ng-submit="submit()">
      <h4>Submit a Review</h4>

      <fieldset class="form-group">
        <textarea ng-model="data.price" class="form-control" placeholder="your price" title="Review"></textarea>
      </fieldset>
      <fieldset class="form-group">
        <textarea ng-model="data.distance" class="form-control" placeholder="dat distance" title="Review"></textarea>
      </fieldset>
      <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit data" />
      </fieldset>
    </form>



          <ul>
      <h4>Jobs</h4>
      <li ng-repeat="job in jobz">
        <blockquote>
          <strong>{{job.name}} </strong>
          {{job.description}}
          {{job.price}}
          {{job.location}}
          <cite class="clearfix">—{{job.creator}}</cite>
        </blockquote>
      </li>
    </ul>
  </body>
</html>
 -->
 <!doctype html>
<html ng-app="emuSearch">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
     <meta charset="utf-8" />
    <title>emuSearch</title>
  </head>
  <body>
    <h1>emuSearch</h1>
    <form name="filterform" ng-controller="searchCtrl" ng-submit="submit()">
      <h4>Submit a Review</h4>
      {{poop}}
      <fieldset class="form-group">
        <textarea ng-model="data.price" class="form-control" placeholder="your price" title="Review"></textarea>
      </fieldset>
      <fieldset class="form-group">
        <textarea ng-model="data.distance" class="form-control" placeholder="dat distance" title="Review"></textarea>
      </fieldset>
      <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit data" />
      </fieldset>
    </form>



          <ul>
      <h4>Jobs</h4>
      <li ng-repeat="job in jobz">
        <blockquote>
          <strong>{{job.name}} </strong>
          {{job.description}}
          {{job.price}}
          {{job.location}}
          <cite class="clearfix">—{{job.creator}}</cite>
        </blockquote>
      </li>
    </ul>
  </body>
</html>
 -->