<form>
	Salary:<br>
	<input type="pass" ng-model = "data.salary">
<br>
	Job name:<br>
	<input type="text" ng-model = "data.title">
<!-- <br>
	<select ng-model='data.categories'>
		<option value="Emu Sort">Emu Sort</option>
		<option value="Emu Hash">Emu Hash</option>
		<option value="Emu Bucket">Emu Bucket</option>
	</select> -->
<br>
	Job Description<br>
	<textarea rows="4" cols="50" ng-model = "data.text">
	</textarea>
<br>
	<button ng-click = "proccesSubmit()" type ='submit'>Post Job</button>
<br>
	<pre>{{ data | json }}</pre>
</form>